@media (max-width: 530px){

    
    div, .container{
      max-width: 500px;
    }
    .container{
      width: 100vw;
      height: 100vh;
      display: flex;
    }

    #container-secundario{
      width: 500px;
    }
}
